body {
    background-color: rgb(233, 41, 169);


}

.details {
    text-align: left;
    color: black;
    margin-top: 5em;


}

@media (min-width: 900px) {
    .page {

        display: flex;
    }
}

.image1 {
    margin-top: 0em;
    padding-left: 5em;
    
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    align-items: center;
    background-color: aqua;
}

@media(min-width:900px) {
    .thecity {
        display: flex;
    }
}

.para {
    width: 50%;
    font-size: large;
}
  .para2{
width: 90px; ;
font-size: medium; 
float: right;
margin-right: 5em;
margin-bottom: 10em;
}

@media (min-width: 900px) {
    .Subjects {
        display: flex;
    width: 90%;}
        
    }
    .tables{
        margin-left: auto;
        margin-right: auto;
    }