body {
    background-color: rgb(252, 181, 115);


}

.details {
    text-align: left;
    color: black;
    margin-top: 5em;


}

@media (min-width: 900px) {
    .page {

        display: flex;
    }
}

.image1 {
    margin-top: 0em;
    padding-left: 5em;
    
}
.tables{
    margin-left: auto;
    margin-right: auto;
}
table,
th,
td {
    border: 1px solid cornflowerblue;
    border-collapse: collapse;
    align-items: center;
    background-color: rgb(172, 240, 240);
    width: 70%;
    border-radius: 1 em;
}

@media(min-width:900px) {
    .thecity {
        display: flex;
    }
}

.para {
    width: 50%;
    font-size: large;
}
  .para2{
width: 50%; ;
font-size: medium; 
}

@media (min-width: 900px) {
    .Subjects {
        display: flex;
    width: 90%;}    
    }

    @media (min-width: 900px) {

        .col-3 {
          width: 25%;
          margin-right: 10em;
        }
    }
    .row{
        display: flex;
    }
    
    
    
